@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Gudea);


/* footer */
.footers{
    background-color: #3c67ad;
    color: white;
    /* padding-bottom: 5px;
    padding-top: 15px; */
    background-position: 100px;
    text-transform: uppercase;
    font-size: 0.7142em;
    padding: 0.5rem 0.7rem;
    line-height: 1.625rem;
    /* margin-bottom:100px; */
}
.copyright a {
    text-align: center;
    color: white;
}
.footer .copyright {
    text-align: center;
    color: white;
 }
    .footers{
        margin-top: 120px;   
    }
    .videos{
     margin: auto;
     width: 100%;  
        
        -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.48);
-moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.48);
box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.48);
padding-top:15px ;

       
    }
    /* .videos p{
        font-size: 5px;
    }
     */

    /* about page */
.About{
    text-align: center;
    background-color: whitesmoke;
    margin: auto;
    width: 50%;

} 
.player-wrapper {
    position: relative;
    padding-top: 36.25% /* Player ratio: 100 / (1280 / 720) */
  }
   
.react-player {
    position: absolute;
    top: 50;
    left: 60;
  }
/* .About h3{
    text-align: center;
    }
    .About h4{
        text-align: center;
        }
        .About p{
            text-align: center;
            } */
            .nomargin { margin:10px; padding-top:10px;text-align: center;font-size: 12px;margin-bottom: 10px;color: white;}          
            /* 
            Only Needed in Multi-Coloured Variation 
                                               */
            .social-fb {
                color: #3B5998;
            }
            .social-tw {
                color: #4099FF;
            }
            .social-gp {
                color: #d34836;
            }
            .social-em {
                color: #f39c12;
            }
.tim-row{
    margin-bottom: 20px;
}

.tim-white-buttons {
    background-color: #777777;
}
.typography-line{
    padding-left: 25%;
    margin-bottom: 35px;
    position: relative;
    display: block;
    width: 100%;
}
.typography-line span{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    position: absolute;
    width: 260px;
    text-transform: none;
}
.tim-row{
    padding-top: 60px;
}
.tim-row h3{
    margin-top: 0;
}

.offline-doc .page-header{
  display: flex;
  align-items: center;
}

.offline-doc .footer{
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
  z-index: 1;
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}


.footer{
    background-color: #424242;
    color: white;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 50px;
}

.copyright{
    text-align: center;
}

/* NavBar */

 .Navbar1{
     background-color: #424242;
     padding-bottom: 10px;
     padding-top: 10px;   
 }
 
 .Container{
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.48);
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.48);

 }
.videos{
    margin: auto;
    width: 100%;  
    /* -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.48);
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.48);
    padding-top:15px ; */
    padding-bottom: 100px;
    padding-top: 100px;
}
.videos p{
    font-size: 15px;
}
.CM_image{
    padding-right: 15px;
    padding-left: 15px;
}
.CM_Card{
    margin: 15px;  
}
.CM_Media{
    border: solid black 1px;
}
.footer .copyright {
    text-align: center; 
}
.top_stories{
    color: red;
    margin-left: 17px;
    font-weight: 510;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#social:hover {
    -webkit-transform:scale(1.1); 
    -moz-transform:scale(1.1); 
    -o-transform:scale(1.1); 
    }
    social {
        -webkit-transform:scale(0.8);
        /* Browser Variations: */
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8); 
    -webkit-transition-duration: 0.5s; 
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    }           
    /* 
    Only Needed in Multi-Coloured Variation 
                                       */
    .social-fb:hover {
        color: #3B5998;
    }
    .social-tw:hover {
        color: #4099FF;
    }
    .social-gp:hover {
        color: #d34836;
    }
    .social-em:hover {
        color: #f39c12;
    }
.nomargin {
    margin:0px; padding:0px;
}
.Cards{
    margin-top: 1px;
    margin-left: 5px;
}
.CardsInfo{
    padding-left: 15px;
    padding-right: 15px;
}
.Media_card{
    margin: 15px;
    padding-left:15px;
    padding-bottom: 15px;
    padding-right: 15px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
.Media_body{
    padding-left: 15px;
    padding-top: 0px;
}
.CardImg{
    width: 350px;
    height: 250px;
}
body::-webkit-scrollbar {
    width: 0.4em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px orangered;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #101010;
  outline: 1px solid #101010;
}

.news-h-scroll{
    display: flex; 
    overflow-x: auto;
    overflow-y: hidden;
}
.news-h-scroll::-webkit-scrollbar{
    height: 0.5em;
    background-color: orangered;
}
.news-h-scroll::-webkit-scrollbar-track{
    
}
.news-h-scroll::-webkit-scrollbar-button{
    
}
.news-h-scroll::-webkit-scrollbar-thumb{
    background-color: #101010;
    width: 20px;
    border-radius: 30px;
}
.headlines::-webkit-scrollbar{
    width: 0.6em;
    background-color: wheat;
}
.headlines::-webkit-scrollbar-thumb{
    background-color: grey;
}
.ReactTable{
    border: none !important;
  }
  .ReactTable .rt-thead{
    padding: 5px;
    font-weight: 700;
    text-align: left;
  }
  .ReactTable .rt-thead .rt-th{
    text-align: left;
    border: none;
  }
  .ReactTable .rt-tbody .rt-td{
    padding: 15px;
  }
  .adCard{
      margin-top: -20px,
  }
.Jumbo{
    width: 100%;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 20px;
}
.viewFullContainer{
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.48);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.48);
  box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.48);
}
.AboutPage{
    margin: auto;
    width: 80%;
}
#clock{

}
.CategoryContainer{
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.48);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.48);
  box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.48);
}

button{
    background: none;
    color: black;
    width: 100px;
    height: 30px;
    border: 1px solid #4099FF;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}

button:focus{
    outline: none;
}

button:before{
    content: '';
    display: block;
    position:absolute;
    background: rgba(255, 255, 255, .5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter:blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}

button:after{
    content: '';
    display: block;
    position:absolute;
    background: rgba(255, 255, 255, .2);
    width: 30px;
    height: 100%;
    left: 30;
    top: 0;
    opacity: 0;
    filter:blur(30px);
    transform: translate(-100px) scaleX(-15deg);
}

button:hover{
    background: #4099FF;
    cursor: pointer;
}

button:hover:before{
    transform: translate(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}

button:hover:after{
    transform: translate(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
}
.div {
    top: 100px;
    padding: 20px;
    padding-top: 120px;
    width: 500px;
    resize: both;
    font-size: 19px;
   
    /* overflow: auto; */
}

.dropdown-menu .dropdown-item {
    color: black;
}
.videosDiv{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
}
/* .videoContainer{
    border: solid  #7686a0;
} */